<!-- Header -->
  <header id="header">
    <div class="col-md-10 col-md-offset-1 ">
      <a class="logo hidden-sm hidden-xs" href="index.html" ><%= image_tag("index/main_logo.png", style: "max-width: 100px; border-bottom-style: hidden;", class: "logo") %></a>
      <nav id="nav">
        <a href="index.html">加速計畫</a>
        <a href="generic.html">導師陣容</a>
        <a href="elements.html">新創團隊</a>
        <!-- <a href="elements.html">Blog</a> -->
        <a class="logo2 img-responsive hidden-sm" href="index.html" ><%= image_tag("index/join.png", style: "max-width: 140px; border-bottom-style: none;", class: "logo2") %></a>

      </nav>
      <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
  </header>

<!-- Banner -->
  <section id="banner">
    <div class="container-fluid pic" >
      <%= image_tag("LOGO_long.png", class: "img-responsive col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2",)%>
    </div>
    <h1 style="font-weight: 500">台灣第一個鎖定娛樂科技的種子加速器</h1>
    <h3>第二梯次熱烈招募中！</h3>
    <h3>報名截止：2017/09/15</h3>
    <div class="container-fluid">
      <a class="img-responsive center-block" href="index.html" ><%= image_tag("index/join.png", style: "max-width: 140px;") %></a>
    </div>
  </section>