<!-- <div class="open-box"> -->
  <%#= link_to image_tag("dit_logo_blue.png", style: "width: 100px"), "https://www.ditstartup.com", target: "_blank" %>
<!-- </div> -->

<!-- Begin MailChimp Signup Form -->
  <!-- <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> -->
<style type="text/css">
  .footer-basic-centered{
    background-image: url('<%= asset_path("Banner_3.jpg") %>');
    font-family: Helvetica,  helvetica, "微軟正黑體", "Microsoft JhengHei";
  }
</style>

<footer class="footer-basic-centered">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <!-- left first line -->
    <div class="logos col-xs-12 col-md-6">
      <div class="row">
        <!-- logo -->
        <div class="logo col-xs-4 col-md-4">
          <div class="closed-box">
            <%= image_tag("index/main_logo.png", style: "width: 100px") %>
          </div>
        </div>
        <!-- fb_icon -->
        <div class="fb_icon col-xs-4 col-md-4" style="padding-left: 40px">
          <a target="_blank" href="https://www.facebook.com/ditlabs/">
          <span class="fa-stack fa-2x facebook">
            <i class="fa fa-circle fa-inverse fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x"></i>
            </a>
          </span>
        </div>
        <!-- envelope_icon -->
        <div class="envelope_icon col-xs-4 col-md-4">
          <a href="mailto:service@ditstartup.com">
            <span class="fa-stack fa-2x envelope">
              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
              <i class="fa fa-envelope fa-stack-1x"></i>
            </span>
          </a>
        </div>
      </div>
    </div>

    <div class="mailchimp col-xs-12 col-md-6">
      <form action="//google.us16.list-manage.com/subscribe/post?u=878889ab527f4a806c985788c&amp;id=4e812cac26" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

          <div class="row">
            <div class="col-xs-10 col-sm-11 col-md-10" ">
              <div class="subscribe">
                <div class="row">
                  <input type="email" value="" name="EMAIL" class="required_email" id="mce-EMAIL" placeholder="訂閱電子報，請輸入 email ">
                </div>
              </div>
            </div>
            <div class="col-xs-2 col-sm-1 col-md-2">
              <div class="submit">
                <div class="row">
                  <input type="submit" value="送出" name="subscribe" id="popUpYes" class="button">
                </div>
              </div>
            </div>

            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none; color:white"></div>
              <div class="response" id="mce-success-response" style="display:none; color:white"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_878889ab527f4a806c985788c_4e812cac26" tabindex="-1" value="">
            </div>
          </div>

      </form>
      <!--End mc_embed_signup-->
    </div>
  </div>
  <br>


  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <div class="col-xs-12 col-md-12 col-lg-4">
          <h4 style="color:white; font:14px Helvetica,Arial,sans-serif; font-weight: lighter;">地址: 台北市松江路100巷14號</h4>
        </div>

        <div class="col-xs-12 col-md-12 col-lg-4">
          <h4 style="color:white; font:14px Helvetica,Arial,sans-serif; font-weight: lighter;">聯絡電話: +886 2 2581-0021</h4>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-4">
          <h4 style="color:white; font:14px Helvetica,Arial,sans-serif; font-weight: lighter;">服務信箱: service@ditstartup.com</h4>
        </div>
      </div>
    </div>
    <br>
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-"">
      <h4 style="color:grey; text-align: center; font-weight: lighter; font:14px Helvetica,Arial,sans-serif;">Copyright &copy; 2014-2017 DIT Startup All rights reserved.</h4>
    </div>
  </div>
</footer>

  <!-- <script type="text/javascript">
    $(document).ready(function() {

      $(".closed-box").mouseenter(function() {
          $(".open-box").show();
          $(".closed-box").hide();
          $(this).hide();
      });

      $(".open-box").mouseout(function() {
        $(".closed-box").show();
        $(".open-box").hide();
        $(this).hide();
      });
    });
  </script> -->
