			<!-- One -->
				<section id="one" class="wrapper">
					<div class="inner containter-fluid">
							<div class="row">
								<div class="header col-xs-12">
									<p>130 萬元的前種子投資</p>
								</div>
								<div class=" description col-xs-12">
									<h2>我們的使命是提供娛樂科技領域的創業者養分，使其加速成長並成為頂尖的團隊。</h2>
									<h2>我們一年招募兩梯次，每梯次入選 6 隊並進行為期 12 週的加速計畫。</h2>
									<h2>我們將預先投資所有入選團隊 30 萬元，並在梯次結束後根據評估追加 100 萬元。</h2>
								</div>
							</div>

					</div>
				</section>

			<!-- Two -->
				<section id="two" class="wrapper style1 special">
					<div class="inner">
						<header>
							<h2>Ipsum Feugiat</h2>
							<p>Semper suscipit posuere apede</p>
						</header>
						<div class="flex flex-4">
							<div class="box person">
								<div class="image round">
									<%= image_tag "theory/pic03.jpg"%>
								</div>
								<h3>Magna</h3>
								<p>Cipdum dolor</p>
							</div>
							<div class="box person">
								<div class="image round">
									<img src="images/pic04.jpg" alt="Person 2" />
								</div>
								<h3>Ipsum</h3>
								<p>Vestibulum comm</p>
							</div>
							<div class="box person">
								<div class="image round">
									<img src="images/pic05.jpg" alt="Person 3" />
								</div>
								<h3>Tempus</h3>
								<p>Fusce pellentes</p>
							</div>
							<div class="box person">
								<div class="image round">
									<img src="images/pic06.jpg" alt="Person 4" />
								</div>
								<h3>Dolore</h3>
								<p>Praesent placer</p>
							</div>
							<div class="box person">
								<div class="image round">
									<img src="images/pic03.jpg" alt="Person 1" />
								</div>
								<h3>Magna</h3>
								<p>Cipdum dolor</p>
							</div>
							<div class="box person">
								<div class="image round">
									<img src="images/pic04.jpg" alt="Person 2" />
								</div>
								<h3>Ipsum</h3>
								<p>Vestibulum comm</p>
							</div>
							<div class="box person">
								<div class="image round">
									<img src="images/pic05.jpg" alt="Person 3" />
								</div>
								<h3>Tempus</h3>
								<p>Fusce pellentes</p>
							</div>
							<div class="box person">
								<div class="image round">
									<img src="images/pic06.jpg" alt="Person 4" />
								</div>
								<h3>Dolore</h3>
								<p>Praesent placer</p>
							</div>
						</div>
					</div>
				</section>

			<!-- Three -->
				<section id="three" class="wrapper special">
					<div class="inner">
						<header class="align-center">
							<h2>Nunc Dignissim</h2>
							<p>Aliquam erat volutpat nam dui </p>
						</header>
						<div class="flex flex-2">
							<article>
								<div class="image fit">
									<img src="images/pic01.jpg" alt="Pic 01" />
								</div>
								<header>
									<h3>Praesent placerat magna</h3>
								</header>
								<p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor lorem ipsum.</p>
								<footer>
									<a href="#" class="button special">More</a>
								</footer>
							</article>
							<article>
								<div class="image fit">
									<img src="images/pic02.jpg" alt="Pic 02" />
								</div>
								<header>
									<h3>Fusce pellentesque tempus</h3>
								</header>
								<p>Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna non comodo sodales tempus.</p>
								<footer>
									<a href="#" class="button special">More</a>
								</footer>
							</article>
						</div>
					</div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<div class="flex">
							<div class="copyright">
								&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
							</div>
							<ul class="icons">
								<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
								<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
								<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
							</ul>
						</div>
					</div>
				</footer>


