<style type="text/css">
  #plan_one .container {
    overflow-x: hidden;
    padding-top: 44px;
    padding-bottom: 30px;
    font-family: "sourcehansans-tc", Helvetica, Arial, helvetica, 'cwTeXHei', "微軟正黑體", "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", /*serif, */"LiHei Pro", "Microsoft JhengHei";
  }

  #plan_two .container {
    font-family: "sourcehansans-tc", Helvetica, Arial, helvetica, 'cwTeXHei', "微軟正黑體", "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", /*serif, */"LiHei Pro", "Microsoft JhengHei";
  }

  .list-group {
    width: 110px;
  }

  .list-group a {
    text-align: center;
    font-size: 20px;
    line-height: 10px;
    padding-top: 60px;
    max-width: 110px;

  }
  .list-group a:hover {
    border-bottom: #1999B8 solid 4px;
    background-color: white;
  }

  .list-group-item {
    border-style: hidden;
  }

  .row-offcanvas h3 {
    font-size:20px;
    font-weight: 300;
    text-align: justify;
    line-height: 40px;
  }

  .row-offcanvas p {
    font-size:20px;
    margin-left: 40px;
    text-indent: -18px;
    padding-top: 15px;
    line-height: 30px;
  }

  #plan_two .container {
    margin-top: -20px;
  }

  /*xs*/
  @media screen and (max-width:767px){
    #plan_two h3 {
      font-size: 16px;
    }
    #plan_two p {
      font-size: 16px;
    }
  }

</style>

<div id="plan_one">
  <div class="container sourcehansans-tc-regular">
    <div class="row row-offcanvas row-offcanvas-right">
      <div class="hidden-xs hidden-sm col-md-2 sidebar-offcanvas" id="sidebar">
        <div class="list-group">
          <a href="https://ditlabs.tw/plan" class="list-group-item">計畫總覽</a>
          <a href="https://ditlabs.tw/procedure" class="list-group-item">投資流程</a>
          <a href="https://ditlabs.tw/target" class="list-group-item">投資標的</a>
          <a href="https://ditlabs.tw/notice" class="list-group-item" style="border-bottom: #1999B8 solid 4px; background-color: white;">重要須知</a>
        </div>
      </div><!--/.sidebar-offcanvas-->
      <div class="col-xs-12 col-md-9">
        <!-- <p class="pull-right visible-xs">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p> -->

        <div id="plan_two">
          <div class="container sourcehansans-tc-regular">
            <div class="row">
              <div class="col-xs-12 col-md-10" style="text-align: justify;">
                <h3>創夢實驗室著眼的不只是投資，而是與團隊建立長期的策略夥伴關係，帶你進入六大企業股東的資源生態系。我們視所有入選團隊為生態系的一員，並投注實質資源協助團隊加速放大。為確保雙方有足夠的默契與信任，我們設計了以下四項核心條款。</h3>

                <p>● 入選團隊皆可獲得第一期 30 萬元的投資，惟必須接受創夢市集具有未來 6 個月內（以當梯次啟動日計算）的優先投資權，以及加速期間結束後，創夢市集得以第二期 100 萬元合併第一期 30 萬元、一共 130 萬元的條件進行投資談判。</p>

                <p>● 尚未成立公司的團隊也可申請，惟成為正選團隊並加入後，必須在 12 週內完成公司設立，以利創夢市集進行後續投資作業。創夢市集有專業法律、會計、財務人員，並搭配有專業律師及會計師事務所，將全力協助你以最佳架構成立公司。</p>

                <p>● 入選團隊之創辦人或共同創辦人必須參與 12 週加速計畫期間的所有會議、課程、聚會等活動。</p>

                <p>● 入選團隊於 12 週加速計畫期間可免費使用創夢市集近 20 個工作空間座位。</p>
              </div>
            </div>
          </div>
        </div>
      </div><!--/.col-xs-12.col-sm-9-->
    </div><!--/row-->
  </div><!--/.container-->
</div>
