<style type="text/css">
  #plan_one .container {
    overflow-x: hidden;
    padding-top: 44px;
    padding-bottom: 30px;
  }

  .list-group {
    width: 110px;
  }

  .list-group a {
    text-align: center;
    font-size: 20px;
    line-height: 10px;
    padding-top: 60px;
    max-width: 110px;

  }
  .list-group a:hover {
    border-bottom: #1999B8 solid 4px;
    background-color: white;
  }

  .list-group-item {
    border-style: hidden;
  }

  .row-offcanvas h3 {
    font-size:20px;
    font-weight: 300;
    text-align: justify;
    line-height: 40px;
  }

  .row-offcanvas p {
    font-size:20px;
    margin-left: 40px;
    text-indent: -18px;
    padding-top: 15px;
    line-height: 30px;
  }

  #plan_two .container {
    margin-top: -20px;
  }


</style>

<div id="plan_one">
  <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-xs-6 col-md-2 sidebar-offcanvas" id="sidebar">
        <div class="list-group">
          <a href="#" class="list-group-item">計畫總覽</a>
          <a href="#" class="list-group-item">投資流程</a>
          <a href="#" class="list-group-item">投資標的</a>
          <a href="#" class="list-group-item">重要須知</a>
        </div>
      </div><!--/.sidebar-offcanvas-->
      <div class="col-xs-12 col-md-9">
        <p class="pull-right visible-xs">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>

        <div id="plan_two">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-10">
                <h3>8/1: 書面初選，開放線上報名<br>
                    <br>
                    8/7 - 9/11: 面談複選<br>
                    <br>
                    9/11 - 9/22: Pitch 決選，評審皆為創夢市集的股東企業高層級<br>
                    <br>
                    9/25: 公布入選結果<br>
                    <br>
                    10/2: 第二梯次正式啟動</h3>
                    <h3>創夢實驗室採分段式投資，第一期投資所有入選團隊30 萬元；第二期投資根據加速計畫期間的評估結果，決定是否追加 100 萬元。</h3>
                    <h3>第一期投資取得辦法：團隊完成第 4 週培訓課程後取得 15 萬元投資款；完成閉門募資簡報後取得另外 15 萬元投資款。第一期投資階段我們不進行取得股權之談判。</h3>
                    <h3>第二期投資取得辦法：該梯次結業後兩週內，創夢實驗室將決定追加投資對象，並結合第一期投資額，以「130 萬元取得公司 10-20% 股權」的條件進行談判。</h3>

              </div>
            </div>
          </div>
        </div>
      </div><!--/.col-xs-12.col-sm-9-->
    </div><!--/row-->
  </div><!--/.container-->
</div>
