<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Title Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      * {
          font-family:arial;
          margin:0;
          padding:0;
      }

      #banner {
        padding: 12em 0 10em 0;
        background-image: url('https://api.fnkr.net/testimg/1920x1910/00CED1/FFF/?text=img+placeholder');
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
        background-repeat: no-repeat;
        text-align: center;
        border-top: 0.5em solid #5385c1;
      }

      #banner h1 {
        font-size: 3.5em;
        font-weight: 100;
        color: #fff;
        line-height: 1em;
        margin: 0 0 0.5em 0;
        padding: 0;
      }

      #banner p {
        font-size: 1em;
        color: rgba(255, 255, 255, 0.55);
        margin-bottom: 1.75em;
      }

      .intro, .menu, .content {
          padding:10px;
      }
      .menu {
         
          background:black;
          color:#fff;
          height:50px;
          line-height:30px;
          letter-spacing:1px;
          width:100%;
      }
      .content {
          margin-top:10px;
      }
      .menu-padding {
          padding-top:40px;
      }
      .content p {
          margin-bottom:20px;
      }
      .sticky {
          position:fixed;
          top:0;
      }
      .product-item:nth-child(1){ background: #fff; }
      .product-item:nth-child(2){ background: #EEF3F2; }
      .product-item:nth-child(3){ background: #fff; }
      .product-item:nth-child(4){ background: #EEF3F2; }
      .product-item:nth-child(5){ background: black; }
    </style>

    <section id="banner">
      <h1>夢想搖滾加速器</h1>
      <h1>台灣首家專注於智慧娛樂的加速器</h1>
    </section>
    <nav class="header-v9 navbar navbar-default" data-role="navigation">


      <div class="container-fluid bg-2 one-page-nav-scrolling one-page-nav__fixed">
        <div class="container">
          

          <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="menu">
              <ul class="nav navbar-nav">
                <li class="page-scroll home">
                  <img src="https://api.fnkr.net/testimg/30x30/00CED1/FFF/?text=logo">
                </li>
                <li class="page-scroll">
                  <a href="#about">關於我們</a>
                </li>
                <li class="page-scroll">
                  <a href="#services">導師陣容</a>
                </li>
                <li class="page-scroll">
                  <a href="#skills">歷屆團隊</a>
                </li>
                <li class="page-scroll">
                  <a href="#bestOffers">Blog</a>
                </li>
              </ul>
            </div>
          <!-- /.navbar-collapse -->
        </div>
      </div>
    </nav>
  </head>

<body>
  <div class="content">
    <div class="product-item">
      <div class="container">
        <div class="txt">
              <h1 class="text-center">娛樂，再進化</h1>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="pic">
              <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=vision">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="title">
              <h2>娛樂產業的疆界正在不斷擴張中，未來的娛樂不只是數位化，還更加即時、逼真、且融入生活當中。我們稱此趨勢為「娛樂智慧化」，娛樂將從閒暇時光的消遣進化為改善生活與情感的智慧服務。</h2>
            </div>
          </div>
        </div>
      </div><br>
    </div>
    <div class="product-item">
      <div class="container">
        <div class="row">
          <h1 style="text-align:center">一站式的創業資源</h1>
          <div class="col-xs-12 col-sm-4">
            <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=resource">
            <h1>早期投資</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium sequi odio modi, unde rem possimus nihil non mollitia! Eveniet eligendi ea blanditiis, provident laudantium molestias aliquam sunt temporibus suscipit, nisi sit, culpa dolorum omnis doloribus facere incidunt. A sapiente alias numquam, maxime laboriosam nobis error voluptates vitae aliquam rem temporibus?</p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=resource">
            <h1>育成加速</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ipsa reiciendis a dignissimos impedit recusandae rerum ipsum id est asperiores odit delectus tempora unde facilis in repellendus, maxime eaque corrupti voluptatum harum! Dolore ea corrupti accusantium beatae sed pariatur, numquam! Et consequuntur ullam rerum quia quam ducimus, molestiae deleniti illum.</p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=resource">
            <h1>創業空間</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet velit voluptatem, voluptatibus nihil expedita enim, aspernatur nemo, voluptates, cum in voluptas impedit. Omnis quis dolor, eius optio quibusdam deleniti, odio nostrum deserunt ea voluptatibus sit quas unde repellendus quae excepturi eum iusto quasi possimus. Quos sint minima iure aspernatur, repellendus.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="product-item">
      <div class="container">
        <h1 style="text-align: center">六大企業資源</h1><br>
        <h2 style="text-align: center">我們帶你直通六大企業，除讓你獲得各家企業的專屬輔導，更將替你正面對接技術資源、產品營運、跨界行銷、金融服務等豐富資源。</h2><br>
        <div class="row">
          <div class="col-xs-12 col-sm-4"><img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=company"></div>
          <div class="col-xs-12 col-sm-4"><img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=company"></div>
          <div class="col-xs-12 col-sm-4"><img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=company"></div>
        </div><br>
          <div class="row">
          <div class="col-xs-12 col-sm-4"><img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=company"></div>
          <div class="col-xs-12 col-sm-4"><img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=company"></div>
          <div class="col-xs-12 col-sm-4"><img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=company"></div>
        </div>
        <br>
      </div>
    </div>
    <div class="product-item">
      <div class="container">
        <h1 style="text-align: center">頂尖業師陣容</h1><br>
        <h2 style="text-align: center">比起量，我們更重視質，因此每一位業師都是智慧娛樂及智慧生活產業當中的佼佼者。同時，我們也用心確保每一位業師都有足夠的熱情與動力來陪伴加速器中的團隊，以各種方式提供必要的協助。</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <img src="https://api.fnkr.net/testimg/200x200/00CED1/FFF/?text=teacher">
          </div>
          <div class="col-xs-12 col-sm-3">
            <img src="https://api.fnkr.net/testimg/200x200/00CED1/FFF/?text=teacher">
          </div>
          <div class="col-xs-12 col-sm-3">
            <img src="https://api.fnkr.net/testimg/200x200/00CED1/FFF/?text=teacher">
          </div>
          <div class="col-xs-12 col-sm-3">
            <img src="https://api.fnkr.net/testimg/200x200/00CED1/FFF/?text=teacher">
          </div>
        </div><br>
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <img src="https://api.fnkr.net/testimg/200x200/00CED1/FFF/?text=teacher">
          </div>
          <div class="col-xs-12 col-sm-3">
            <img src="https://api.fnkr.net/testimg/200x200/00CED1/FFF/?text=teacher">
          </div>
          <div class="col-xs-12 col-sm-3">
            <img src="https://api.fnkr.net/testimg/200x200/00CED1/FFF/?text=teacher">
          </div>
          <div class="col-xs-12 col-sm-3">
            <img src="https://api.fnkr.net/testimg/200x200/00CED1/FFF/?text=teacher">
          </div>
        </div>
        <br>
      </div>
    </div>

    <div class="product-item">
      <div class="container">
        <br>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="col-xs-12 col-sm-6">
              <img src="https://api.fnkr.net/testimg/100x100/00CED1/FFF/?text=logo">
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="ul">
                <li style="color:white">關於我們</li>
                <li style="color:white">導師陣容</li>
                <li style="color:white">歷屆團隊</li>
                <li style="color:white">Blog</li>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8">
            <button>追蹤我們</button>
          </div>
        </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <h5 style="color:white">地址：231新北市新店區北宜路一段16號</h5>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h5 style="color:white">聯絡電話：+886 2 2912-5798</h5>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h5 style="color:white">服務信箱：service@ditatartup.com</h5>
        </div>
      </div>
    </div>
  </div>
</body>
    
    
    
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <script>
    $(document).ready(function () {

        var menu = $('.menu');
        var origOffsetY = menu.offset().top;

        function scroll() {
            if ($(window).scrollTop() >= origOffsetY) {
                $('.menu').addClass('sticky');
                $('.content').addClass('menu-padding');
            } else {
                $('.menu').removeClass('sticky');
                $('.content').removeClass('menu-padding');
            }


        }

        document.onscroll = scroll;

    });
    </script>

  </body>
</html>