<style type="text/css">
  #plan_one .container {
    overflow-x: hidden;
    padding-top: 44px;
    padding-bottom: 30px;
    font-family: "sourcehansans-tc", Helvetica, Arial, helvetica, "微軟正黑體", "Microsoft JhengHei";
  }

  #plan_two .container {
    font-family: "sourcehansans-tc", Helvetica, Arial, helvetica, 'cwTeXHei', "微軟正黑體", "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", /*serif, */"LiHei Pro", "Microsoft JhengHei";
  }

  .list-group {
    width: 110px;
  }

  .list-group a {
    text-align: center;
    font-size: 20px;
    line-height: 10px;
    padding-top: 60px;
    max-width: 110px;

  }
  .list-group a:hover {
    border-bottom: #1999B8 solid 4px;
    background-color: white;
  }

  .list-group-item {
    border-style: hidden;
  }

  .row-offcanvas h3 {
    font-size:20px;
    font-weight: 300;
    text-align: justify;
    line-height: 40px;
  }

  .row-offcanvas p {
    font-size:20px;
    margin-left: 40px;
    text-indent: -18px;
    padding-top: 15px;
    line-height: 30px;
  }

  #plan_two .container {
    margin-top: -20px;
  }

  /*xs*/
  @media screen and (max-width:767px){
    #plan_two h3 {
      font-size: 16px;
    }
    #plan_two p {
      font-size: 16px;
    }
  }


</style>

<div id="plan_one">
  <div class="container sourcehansans-tc-regular">
    <div class="row row-offcanvas row-offcanvas-right">
      <div class="hidden-xs hidden-sm col-md-2 sidebar-offcanvas" id="sidebar">
        <div class="list-group">
          <a href="https://ditlabs.tw/plan" class="list-group-item">計畫總覽</a>
          <a href="https://ditlabs.tw/procedure" class="list-group-item">投資流程</a>
          <a href="https://ditlabs.tw/target" class="list-group-item" style="border-bottom: #1999B8 solid 4px; background-color: white;">投資標的</a>
          <a href="https://ditlabs.tw/notice" class="list-group-item">重要須知</a>
        </div>
      </div><!--/.sidebar-offcanvas-->
      <div class="col-xs-12 col-md-9">
        <!-- <p class="pull-right visible-xs">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p> -->

        <div id="plan_two">
          <div class="container sourcehansans-tc-regular">
            <div class="row">
              <div class="col-xs-12 col-md-10" style="text-align: justify;">
                <h3>創夢實驗室對投資標的有以下兩點基本要求。如果你正在開發產品，必須進入可實際評估階段；如果你正在開發服務，必須上線並進入初期營運。</h3>

                <h3>如果未達上述階段，我們仍會根據團隊的提案內容及成員經歷等資訊進行評估，但根據過去經驗，過案率並不高。我們目前關注娛樂科技領域的產品或服務，範例如下：</h3>

                <p>● 終端產品：利用成熟或先進技術打造的全新體驗，類型包括但不限於遊戲、影視、音樂、互動應用、實體商品等</p>

                <p>● 平台服務：協助用戶發掘、收藏、發行娛樂內容的資訊平台</p>

                <p>● 技術工具：改善企業開發、發行與測試娛樂內容的技術工具</p>

                <p>● 資料科學：提供企業掌握、分析、學習用戶資料，以及與用戶產生自動化互動的創新技術</p>

                <p>● 教育應用：橫跨教育與娛樂的創新商品或服務</p>
              </div>
            </div>
          </div>
        </div>
      </div><!--/.col-xs-12.col-sm-9-->
    </div><!--/row-->
  </div><!--/.container-->
</div>
