/* Carousel */

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: -20px;
    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}


#quote-carousel .carousel-indicators li {
    width: 63px;
    height: 63px;
    margin: 5px;
    cursor: pointer;
    /*border: 4px solid #CCC;*/
    border-radius: 0;
    /*opacity: 1;*/
    overflow: hidden;
    transition: all 0.4s;
    background: #E4F0F7;
}


#quote-carousel .carousel-indicators .active {
    background: #E4F0F7;
    width: 250px;
    height: 250px;
    border-radius: 0;
    /*border-color: #f33;*/
    /*opacity: 1;*/
    overflow: hidden;
}
.carousel-inner {
    min-height: 300px;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
   /* float: left;
    margin-right: 10px;*/
}

.item blockquote p {
  /*font-family: 'Fontawesome';*/
  /*content: "\f10d";*/
  font-size: 24px;
  text-align: justify;
}

#carousel {
  background-color: #E4F0F7;
}

//lg
@media screen and (min-width:1200px){
  #quote-carousel .carousel-indicators .active {
      width: 300px;
      height: 300px;
      border-radius: 0;
  }
  #quote-carousel .carousel-control.left {
      left: -60px;
  }
  #quote-carousel .carousel-control.right {
      right: -60px;
  }
}

//md
@media screen and (min-width:992px){
  #quote-carousel .carousel-indicators {
      right: 50%;
      /*top: auto;*/
      bottom: 75px;
      margin-right: -19px;
      margin-top: 130px;
  }
  #quote-carousel .carousel-control.left {
      left: -60px;
  }
  #quote-carousel .carousel-control.right {
      right: -60px;
  }

  #quote-carousel .carousel-indicators .active {
      width: 300px;
      height: 300px;
      border-radius: 0;
  }

  #carousel {
    height: 650px;
  }
  #carousel .container {
    padding-top: 180px;
  }

  #carousel p {
    text-indent: -28px
  }

  #carousel h2 {
    float: right;
    font-size: 20px;
    font-weight: 300;
  }

  #quote-carousel {
    padding-top: 10px;
    padding-bottom: 220px;
  }
}

//sm
@media screen and (min-width:768px){
  #quote-carousel {
    padding-bottom: 260px;
  }
  #carousel {
    height: 650px;
  }
  #carousel .container {
    padding: 80px 0;
  }
  #quote-carousel .carousel-indicators .active {
      width: 200px;
      height: 200px;
  }
  #carousel h2 {
    float: right;
    font-size: 20px;
    font-weight: 300;
  }
  #quote-carousel .carousel-control.left {
      left: 0;
  }
  #quote-carousel .carousel-control.right {
      right: 0;
  }
}

//xs
@media screen and (max-width:767px){
  #quote-carousel .carousel-control.left {
      left: -40PX;
  }
  #quote-carousel .carousel-control.right {
      right: -40PX;
  }

  #quote-carousel {
    padding-bottom: 160px;
  }
  #carousel {
    height: 500px;
  }

  #carousel .container {
    padding-top: 80px;
  }

  #carousel p {
    font-size: 16px;
    text-indent: -19px
  }

  #carousel h2 {
    float: right;
    font-size: 16px;
    font-weight: 300;
  }

  #quote-carousel .carousel-indicators {
      right: 50%;
      /*top: auto;*/
      bottom: 75px;
      margin-right: -19px;
      margin-top: 130px;
      /*left: 0;*/
      /*top: auto;*/
      /*bottom: 0px;*/
      /*margin-left: -310px;*/
      /*margin-bottom: 50px;*/
      /*margin-top: 50px;*/
      /*width: 600px;*/
  }

  #quote-carousel .carousel-indicators .active {
    width: 150px;
    height: 150px;
    border-style: hidden;
  }

  #quote-carousel .carousel-indicators li {
    width: 45px;
    height: 45px;
    border-style: hidden;
  }

  #quote-carousel .carousel-control {
    margin-top: 55px;
  }
}
//XXS
@media screen and (max-width:600px){
  #quote-carousel .carousel-control.left {
      left: -30PX;
  }
  #quote-carousel .carousel-control.right {
      right: -30PX;
  }

  #quote-carousel .carousel-indicators .active {
    width: 100px;
    height: 100px;
    border-style: hidden;
  }
  #quote-carousel .carousel-indicators li {
    width: 15px;
    height: 15px;
    border-style: hidden;
  }

}

